.rect {
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 100px;
        margin: -50px -100px;
        overflow: hidden;
        animation: rect 5s infinite ease-in-out;

        color: #def;
        border-width: 0;
        border-style: solid;
        border-color: currentColor;

        &::before,
        &::after {
            content: '\0020';
            position: absolute;
            background: #def;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        &::before {
            width: 200px;
            height: 5px;
        }
        &::after {
            width: 5px;
            height: 100px;
        }
        &:nth-child(1)::before {
            top: 0;
            left: -200px;
            animation-name: main_act, act_1_1;
        }
        &:nth-child(2)::before {
            right: -200px;
            bottom: 0;
            animation-name: main_act, act_2_1;
        }
        &:nth-child(1)::after {
            bottom: -100px;
            left: 0;
            animation-name: main_act, act_1_2;
        }
        &:nth-child(2)::after {
            top: -100px;
            right: 0;
            animation-name: main_act, act_2_2;
        }
    }
}

@keyframes rect {
    20% {transform: rotateZ(0);}
    40% {transform: rotateZ(180deg);}
    60% {transform: rotateZ(180deg) rotateX(180deg) scale(.5);}
    80% {transform: rotateZ(180deg) rotateX(180deg) rotateY(180deg) scale(.5) skew(-30deg, 0);}
    100% {transform: rotateZ(180deg) rotateX(180deg) rotateY(180deg) scale(.5) skew(-30deg, 0);}
}
@keyframes main_act {
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes act_1_1 {
    0% {left: -200px;}
    5% {left: 0;}
    20% {left: 0;}
    40% {
        left: -100px;
        height: 5px;
    }
    60% {height: 50px;}
    65% {
        left: -100px;
        height: 50px;
    }
    80% {
        left: -195px;
        height: 50px;
    }
    95% {height: 5px;}
}
@keyframes act_1_2 {
    0% {bottom: -100px;}
    15% {bottom: -100px;}
    20% {bottom: 0;}
    40% {
        bottom: -50px;
        width: 5px;
    }
    60% {width: 100px;}
    65% {
        bottom: -50px;
        width: 100px;
    }
    80% {
        bottom: -95px;
        width: 100px;
    }
    95% {width: 5px;}
}
@keyframes act_2_1 {
    0% {right: -200px;}
    10% {right: -200px;}
    15% {right: 0;}
    20% {right: 0;}
    40% {
        right: -100px;
        height: 5px;
    }
    60% {height: 50px;}
    65% {
        right: -100px;
        height: 50px;
    }
    80% {
        right: -195px;
        height: 50px;
    }
    95% {height: 5px;}
}
@keyframes act_2_2 {
    0% {top: -100px;}
    5% {top: -100px;}
    10% {top: 0;}
    20% {top: 0;}
    40% {
        top: -50px;
        width: 5px;
    }
    60% {width: 100px;}
    65% {
        top: -50px;
        width: 100px;
    }
    80% {
        top: -95px;
        width: 100px;
    }
    95% {width: 5px;}
}
