@charset "utf-8";

.round-shield {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 24em;
  overflow: hidden;

  .shield-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 20em;
    color: #9ce;
    transform-style: preserve-3d;

    animation-name: round_shield_color;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.hexagon {
  position: absolute;
  top: 9.5em;
  left: 9.5em;
  width: 1em;
  height: 1em;
  background-color: currentcolor;

  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  &::before,
  &::after {
    content: '\0020';
    position: absolute;
    top: 0;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
  }
  &::before {
    right: 100%;
    border-right: .5em solid currentcolor;
  }
  &::after {
    left: 100%;
    border-left: .5em solid currentcolor;
  }
  &:nth-of-type(1) {
    visibility: hidden;
  }
  &:nth-of-type(2) {
    transform: translate3d(-2.5em, 0, -4.33em) rotate3d(0, 1, 0, 30deg);
  }
  &:nth-of-type(3) {
    visibility: hidden;
  }
  &:nth-of-type(4) {
    transform: translate3d(-5em, 0, 0) rotate3d(0, 1, 0, 90deg);
  }
  &:nth-of-type(5) {
    transform: translate3d(-4.33em, 0, 2.5em) rotate3d(0, 1, 0, 120deg);
  }
  &:nth-of-type(6) {
    visibility: hidden;
  }
  &:nth-of-type(7) {
    transform: translate3d(0, 0, 5em) rotate3d(0, 1, 0, 180deg);
  }
  &:nth-of-type(8) {
    transform: translate3d(2.5em, 0, 4.33em) rotate3d(0, 1, 0, 210deg);
  }
  &:nth-of-type(9) {
    visibility: hidden;
  }
  &:nth-of-type(10) {
    transform: translate3d(5em, 0, 0) rotate3d(0, 1, 0, 270deg);
  }
  &:nth-of-type(11) {
    transform: translate3d(4.33em, 0, -2.5em) rotate3d(0, 1, 0, 300deg);
  }
  &:nth-of-type(12) {
    visibility: hidden;
  }
}

@for $i from 0 through 12 {
  .shield-row:nth-of-type(#{$i + 1}) {
    top: - 3.6em + 1.2em * $i;
    animation-delay: -.4s * $i;
  }

  [data-board="CSS3"]:hover .shield-row {
    animation-name: round_shield;
    animation-duration: 2s;
  }
  [data-board="CSS3"]:hover .hexagon {
    animation-name: change_opacity;

    &:nth-of-type(#{$i + 1}) {
      animation-delay: -$i * .2s;
    }
  }
}
@keyframes round_shield_color {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    color: rgba(153, 204, 238, .3);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes round_shield {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes change_opacity {
  25% {opacity: 1;}
  50% {opacity: .1;}
  75% {opacity: 1;}
}
