.windmill {
    width: 100%;
    height: 100%;
    -webkit-perspective: 400px;
    perspective: 400px;

    &::after {
        content: '\0020';
        position: absolute;
        bottom: 15%;
        left: 50%;
        width: 36%;
        height: 12px;
        border-radius: 50%;
        background: rgba(0, 96, 192, .1);
        box-shadow: 0 0 6px rgba(0, 96, 192, .1);
        transform: translate(-50%, -50%);
        animation: shadow 3s ease-in-out infinite;
    }
}
.fan-blades {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotateY(-60deg) rotateX(-15deg);
    animation: fan_rotate 4s linear, wave 3s ease-in-out;
    animation-iteration-count: infinite;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

        & + span {
            transform: translate(-50%, -50%) rotateX(90deg);
        }
        &::before,
        &::after {
            content: '\0020';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30%;
            height: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            background-image: linear-gradient(to bottom, #cde 0%, rgba(191, 223, 255, .3) 50%, #cde 100%);
        }
        &::after {
            transform: translate(-50%, -50%) rotateX(45deg);
        }
    }
}
[data-board="CSS3"]:hover .fan-blades {
    animation-duration: 64s, 3s;
}
@keyframes fan_rotate {
    0% {
        transform: rotateY(-60deg) rotateX(-15deg);
    }
    100% {
        transform: rotateY(-60deg) rotateX(-375deg);
    }
}
@keyframes wave {
    0% {
        top: 0;
    }
    50% {
        top: -10%;
    }
    100% {
        top: 0;
    }
}
@keyframes shadow {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(.8, 1);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
